<div id='aboutSection'>
    <div id='introduction'>
        My name is
        <span id='myName'>
            <span>Y</span><span>o</span><span>o</span><span>n</span>
            <span></span><span>J</span><span>u</span><span>n</span><span>g</span>
        </span>
    </div>
    <div id='introduction2'>
        I'm a self-taught software engineer.
    </div>
</div>
<div id='moreToExperience'>
    <div id='moreIcon' onclick="onClick('experience')">more</div>
</div>