<div id='aboutSectionContainer'>
    <div id='aboutSection'>
        <div id='introduction'>
            My name is
            <span id='myName'>
                <span>Y</span><span>o</span><span>o</span><span>n</span>
                <span></span><span>J</span><span>u</span><span>n</span><span>g</span>
            </span>
        </div>
        <div id='introduction2'>
            I'm a self-taught software engineer.
        </div>
    </div>
    <div id='aboutRightSide'>
        <div id='aboutCode' onmouseover='onMouseOverAbout(0)' onmouseout='onMouseOutAbout(0)'><img src='/images/aboutCode2.png' width='400px' height='400px'></div>
        <div id='aboutFoundation' class='aboutLayout' onmouseover='onMouseOverAbout(1)' onmouseout='onMouseOutAbout(1)'>
            <div id='aboutFoundationLeft' class='aboutLayoutLeft'>Left</div>
            <div id='aboutFoundationRight' class='aboutLayoutRight'>
                <div id='aboutFoundationTop' class='aboutLayoutTop'>Navigation</div>
                <div id='aboutFoundationBottom' class='aboutLayoutBottom'>
                    <div class='aboutFoundationMain'>Main</div>
                    <div class='aboutFoundationMain'>About Section</div>
                    <div class='aboutFoundationMain'>Experience</div>
                </div>
            </div>
        </div>
        <div id='aboutImages' class='aboutLayout' onmouseover='onMouseOverAbout(2)' onmouseout='onMouseOutAbout(2)'>
            <div id='aboutImagesLeft' class='aboutLayoutLeft'>Left</div>
            <div id='aboutImagesRight' class='aboutLayoutRight'>
                <div id='aboutImagesTop' class='aboutLayoutTop'>Navigation</div>
                <div id='aboutImagesBottom' class='aboutLayoutBottom'>
                    <div class='aboutFoundationMain'>Main</div>
                    <div class='aboutFoundationMain'>About Section</div>
                    <div class='aboutFoundationMain'>Experience</div>
                </div>
            </div>
        </div>
        <div id='aboutText' onmouseover='onMouseOverAbout(3)' onmouseout='onMouseOutAbout(3)'><iframe src="http://www.yo0on.com" width='100%' height='100%'></iframe></div>
    </div>
</div>
<div id='moreToExperience'>
    <div id='moreIcon' onclick="onClick('experience')">more</div>
</div>