<div id='contactSection'>
    <div id='contactHeader'>CONTACT</div>
    <div id='contactContainer'>
        <div id='contactContainerHead'>Feel free to contact me!</div>
        <form id='contactForm'>
            <input placeholder="Name" type="text" name="name" required>
            <input placeholder="Enter Email" type="text" name="email" required>
            <textarea placeholder="Enter Your Message" name="message" type="text" cols="30" rows="10"></textarea>
            <div id="contactFormAfterSubmit"></div>
            <div id='contactFormSendContainer'><input id="contactFormSend" type="submit" value="SUBMIT"></div>
        </form>
    </div>
</div>