<div id='experienceSection'>
    <div id='experienceHeader'>EXPERIENCE</div>
    <div class='experienceListContianer'>
        <div class='experienceListName'>Mysuit</div>
        <div>Responsible for building and maintaining ERP software which acts as the heart of the organization,
            controlling inventory management, sales order processing, vendor management, customer management, employee
            management, and company financials</div>
        <div>Used Technologies</div>
        <div class='sliderContainer'>
            <div class='buttonContainer'>
                <div id='experience1ButtonLeft' class='experienceButtonLeft' onclick='slideToLeft(0)'></div>
                <div id='experience1ButtonRight' class='experienceButtonRight' onclick='slideToRight(0)'></div>
            </div>
            <div id='experienceSliderContainer'>
                <div id='experienceImageContainer1' class='experienceImageContainer'>
                    <img src='/images/mysuit1.png' class='experienceImages'>
                    <img src='/images/mysuit2.png' class='experienceImages'>
                    <img src='/images/mysuit3.jpg' class='experienceImages'>
                </div>
            </div>
        </div>
        <div class='experienceImageLocation'></div>
        <div>.NET, Classic ASP, NodeJS, MSSQL, Apache</div>
    </div>
</div>