<div id='experienceSection'>
    <div id='experienceHeader'>EXPERIENCE</div>
    <div class='experienceListContianer'>
        <!--Mysuit-->
        <div class='experienceListName'>Mysuit</div>
        <div class='experienceListDescription'>
            Responsible for building and maintaining ERP software which acts as the
            heart of the organization,
            controlling inventory management, sales order processing, vendor management, customer management, employee
            management, and company financials.
        </div>
        <div class='sliderContainer'>
            <div class='buttonContainer'>
                <div id='experience1ButtonLeft' class='experienceButtonLeft' onclick='slideToLeft(0)'
                    onmouseover='changeColorToBlue(this, "left");' onmouseout='changeColorToBlack(this, "left");'></div>
                <div id='experience1ButtonRight' class='experienceButtonRight' onclick='slideToRight(0)'
                    onmouseover='changeColorToBlue(this, "right");' onmouseout='changeColorToBlack(this, "right");'>
                </div>
            </div>
            <div id='experienceSliderContainer'>
                <div id='experienceImageContainer1' class='experienceImageContainer'>
                    <img src='/images/mysuit2.png' class='experienceImages'>
                    <img src='/images/mysuit1.png' class='experienceImages'>
                    <img src='/images/mysuit3.jpg' class='experienceImages'>
                </div>
            </div>
        </div>
        <div class='experienceImageLocation'>
            <span id='experienceLocationMysuit1' class="dot" onclick="moveSlider(0,0)"></span>
            <span id='experienceLocationMysuit2' class="dot" onclick="moveSlider(0,1)"></span>
            <span id='experienceLocationMysuit3' class="dot" onclick="moveSlider(0,2)"></span>
        </div>
        <div>Used Technologies: .NET, Classic ASP, NodeJS, MSSQL, Apache</div>
        <!--URE-->
        <div class='experienceListName'>URE</div>
        <div class='experienceListDescription'>
            Developed a cross-platform mobile application from scratch to help users and myself to easily manage their rental business.

        </div>
        <div class='sliderContainer'>
            <div id='experienceSliderContainer'>
                <div id='experienceImageContainer2'>
                    <div class='experienceImagesUre'>
                        <img src='/images/ure/ure1.png' width='23%' height='100%'>
                        <img src='/images/ure/ure2.png' width='23%' height='100%'>
                        <img src='/images/ure/ure3.png' width='23%' height='100%'>
                        <img src='/images/ure/ure4.png' width='23%' height='100%'>
                    </div>
                    <div class='experienceImagesUre'>
                        <img src='/images/ure/ure5.png' width='23%' height='100%'>
                        <img src='/images/ure/ure6.png' width='23%' height='100%'>
                        <img src='/images/ure/ure7.png' width='23%' height='100%'>
                        <img src='/images/ure/ure8.png' width='23%' height='100%'>
                    </div>
                </div>
            </div>
        </div>
        <div id='mobileStores'>
            <a href="https://play.google.com/store/apps/details?id=com.unitechholding.ure" target="_blank"><img
                    src="/images/playstore.svg" width='130px' height='45px' alt="play store"></a>
            <a href="https://apps.apple.com/us/app/id1513604486" target="_blank"><img src="/images/appstore.svg"
                    width='130px' height='45px' alt="app store"></a>
        </div>
        <div>Used Technologies: React Native, Redux, NodeJS, Express, MYSQL, Apache</div>
        <!--Unitech Auto-->
        <div class='experienceListName'>Unitech Auto <span id='experienceListNameDescription'>(ongoing project)</span></div>
        <div class='experienceListDescription'>
            Ecommerce for auto parts
        </div>
        <div class='sliderContainer'>
            <div class='buttonContainer'>
                <div id='experience3ButtonLeft' class='experienceButtonLeft' onclick='slideToLeft(2)'
                    onmouseover='changeColorToBlue(this, "left");' onmouseout='changeColorToBlack(this, "left");'></div>
                <div id='experience3ButtonRight' class='experienceButtonRight' onclick='slideToRight(2)'
                    onmouseover='changeColorToBlue(this, "right");' onmouseout='changeColorToBlack(this, "right");'>
                </div>
            </div>
            <div id='experienceSliderContainer'>
                <div id='experienceImageContainer3' class='experienceImageContainer'>
                    <img src='/images/ua1.png' class='experienceImages'>
                    <img src='/images/ua2.png' class='experienceImages'>
                    <img src='/images/ua3.png' class='experienceImages'>
                </div>
            </div>
        </div>
        <div class='experienceImageLocation'>
            <span id='experienceLocationUA1' class="dot" onclick="moveSlider(2,0)"></span>
            <span id='experienceLocationUA2' class="dot" onclick="moveSlider(2,1)"></span>
            <span id='experienceLocationUA3' class="dot" onclick="moveSlider(2,2)"></span>
        </div>
        <div>Used Technologies: NodeJS, Express, MYSQL, Apache</div>
    </div>
</div>