<div id="experienceSection">
    <div id="experienceHeader">EXPERIENCE</div>
    <div class="experienceListContianer">
        <!--Adplin-->
        <div class="experienceListName">AdPlin</div>
        <div class="experienceListDescription">
            AdPlin is an online platform where people can easily compare various
            businesses and freelancers and get the quote regarding their
            services. As a founder and developer of the platform, I have
            participated in all aspects of business development including market
            research, DB architect, Front-end, Back-end, finance to operation
            and marketing.
        </div>
        <div class="sliderContainer">
            <div class="buttonContainer">
                <div
                    id="experience1ButtonLeft"
                    class="experienceButtonLeft"
                    onclick="slideToLeft(5)"
                    onmouseover='changeColorToBlue(this, "left");'
                    onmouseout='changeColorToBlack(this, "left");'
                ></div>
                <div
                    id="experience1ButtonRight"
                    class="experienceButtonRight"
                    onclick="slideToRight(5)"
                    onmouseover='changeColorToBlue(this, "right");'
                    onmouseout='changeColorToBlack(this, "right");'
                ></div>
            </div>
            <div id="experienceSliderContainer">
                <div
                    id="experienceImageContainer6"
                    class="experienceImageContainer"
                >
                    <img
                        src="/images/adplin/adplin1.png"
                        class="experienceImages"
                    />
                    <img
                        src="/images/adplin/adplin2.png"
                        class="experienceImages"
                    />
                    <img
                        src="/images/adplin/adplin3.png"
                        class="experienceImages"
                    />
                    <img
                        src="/images/adplin/adplin4.png"
                        class="experienceImages"
                    />
                </div>
            </div>
        </div>
        <div class="experienceImageLocation">
            <span
                id="experienceLocationAdplin1"
                class="dot"
                onclick="moveSlider(5,0)"
            ></span>
            <span
                id="experienceLocationAdplin2"
                class="dot"
                onclick="moveSlider(5,1)"
            ></span>
            <span
                id="experienceLocationAdplin3"
                class="dot"
                onclick="moveSlider(5,2)"
            ></span>
            <span
                id="experienceLocationAdplin4"
                class="dot"
                onclick="moveSlider(5,3)"
            ></span>
        </div>
        <a class="expereinceAtag" href="https://adplin.com">
            https://adplin.com
        </a>
        <div class="experienceTech">
            Used Technologies: React, Redux, NodeJS, ExpressJS, MYSQL, AWS EC2,
            S3, Stripe API, Apache
        </div>
        <!--Asahi Sushi-->
        <div class="experienceListName">Asahi Sushi</div>
        <div class="experienceListDescription">
            Created a website for Asahi Sushi with a secure admin page to
            control menu, business hours, and location.
        </div>
        <div class="sliderContainer">
            <div class="buttonContainer">
                <div
                    id="experience1ButtonLeft"
                    class="experienceButtonLeft"
                    onclick="slideToLeft(4)"
                    onmouseover='changeColorToBlue(this, "left");'
                    onmouseout='changeColorToBlack(this, "left");'
                ></div>
                <div
                    id="experience1ButtonRight"
                    class="experienceButtonRight"
                    onclick="slideToRight(4)"
                    onmouseover='changeColorToBlue(this, "right");'
                    onmouseout='changeColorToBlack(this, "right");'
                ></div>
            </div>
            <div id="experienceSliderContainer">
                <div
                    id="experienceImageContainer5"
                    class="experienceImageContainer"
                >
                    <img
                        src="/images/asahi/Asahi1.png"
                        class="experienceImages"
                    />
                    <img
                        src="/images/asahi/Asahi2.png"
                        class="experienceImages"
                    />
                    <img
                        src="/images/asahi/Asahi3.png"
                        class="experienceImages"
                    />
                    <img
                        src="/images/asahi/Asahi4.png"
                        class="experienceImages"
                    />
                </div>
            </div>
        </div>
        <div class="experienceImageLocation">
            <span
                id="experienceLocationAS1"
                class="dot"
                onclick="moveSlider(4,0)"
            ></span>
            <span
                id="experienceLocationAS2"
                class="dot"
                onclick="moveSlider(4,1)"
            ></span>
            <span
                id="experienceLocationAS3"
                class="dot"
                onclick="moveSlider(4,2)"
            ></span>
            <span
                id="experienceLocationAS4"
                class="dot"
                onclick="moveSlider(4,3)"
            ></span>
        </div>
        <div class="experienceTech">
            Used Technologies: React, NodeJS, Express, MYSQL, AWS EC2
        </div>

        <!--Mysuit-->
        <div class="experienceListName">Mysuit</div>
        <div class="experienceListDescription">
            Responsible for building and maintaining ERP software which acts as
            the heart of the organization, controlling inventory management,
            sales order processing, vendor management, customer management,
            employee management, and company financials.
        </div>
        <div class="sliderContainer">
            <div class="buttonContainer">
                <div
                    id="experience1ButtonLeft"
                    class="experienceButtonLeft"
                    onclick="slideToLeft(0)"
                    onmouseover='changeColorToBlue(this, "left");'
                    onmouseout='changeColorToBlack(this, "left");'
                ></div>
                <div
                    id="experience1ButtonRight"
                    class="experienceButtonRight"
                    onclick="slideToRight(0)"
                    onmouseover='changeColorToBlue(this, "right");'
                    onmouseout='changeColorToBlack(this, "right");'
                ></div>
            </div>
            <div id="experienceSliderContainer">
                <div
                    id="experienceImageContainer1"
                    class="experienceImageContainer"
                >
                    <img src="/images/mysuit2.png" class="experienceImages" />
                    <img src="/images/mysuit1.png" class="experienceImages" />
                    <img src="/images/mysuit3.jpg" class="experienceImages" />
                </div>
            </div>
        </div>
        <div class="experienceImageLocation">
            <span
                id="experienceLocationMysuit1"
                class="dot"
                onclick="moveSlider(0,0)"
            ></span>
            <span
                id="experienceLocationMysuit2"
                class="dot"
                onclick="moveSlider(0,1)"
            ></span>
            <span
                id="experienceLocationMysuit3"
                class="dot"
                onclick="moveSlider(0,2)"
            ></span>
        </div>
        <div class="experienceTech">
            Used Technologies: .NET, Classic ASP, NodeJS, MSSQL, Apache
        </div>
        <!--URE-->
        <div class="experienceListName">URE</div>
        <div class="experienceListDescription">
            Developed a cross-platform mobile application from scratch to help
            users and myself to easily manage their rental business.
        </div>
        <div class="sliderContainer">
            <div id="experienceSliderContainer">
                <div id="experienceImageContainer2">
                    <div class="experienceImagesUre">
                        <img
                            src="/images/ure/ure1.png"
                            class="experienceIndividualImagesUre"
                        />
                        <img
                            src="/images/ure/ure2.png"
                            class="experienceIndividualImagesUre"
                        />
                        <img
                            src="/images/ure/ure3.png"
                            class="experienceIndividualImagesUre"
                        />
                        <img
                            src="/images/ure/ure4.png"
                            class="experienceIndividualImagesUre"
                        />
                    </div>
                    <div class="experienceImagesUre">
                        <img
                            src="/images/ure/ure5.png"
                            class="experienceIndividualImagesUre"
                        />
                        <img
                            src="/images/ure/ure6.png"
                            class="experienceIndividualImagesUre"
                        />
                        <img
                            src="/images/ure/ure7.png"
                            class="experienceIndividualImagesUre"
                        />
                        <img
                            src="/images/ure/ure8.png"
                            class="experienceIndividualImagesUre"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div id="mobileStores">
            <a
                href="https://play.google.com/store/apps/details?id=com.unitechholding.ure"
                target="_blank"
            >
                <img
                    src="/images/playstore.svg"
                    width="130px"
                    height="45px"
                    alt="play store"
                />
            </a>
            <a
                href="https://apps.apple.com/us/app/id1513604486"
                target="_blank"
            >
                <img
                    src="/images/appstore.svg"
                    width="130px"
                    height="45px"
                    alt="app store"
                />
            </a>
        </div>
        <div class="experienceTech">
            Used Technologies: React Native, Redux, NodeJS, Express, MYSQL,
            Apache
        </div>
        <!--SB Auto-->
        <div class="experienceListName">SB Auto</div>
        <div id="experienceListNameDescription">(ongoing project)</div>
        <div class="experienceListDescription">
            Currently under development for a responsive Ecommerce website to
            sell heavy-duty truck parts in South Korea.
        </div>
        <div class="sliderContainer">
            <div class="buttonContainer">
                <div
                    id="experience3ButtonLeft"
                    class="experienceButtonLeft"
                    onclick="slideToLeft(2)"
                    onmouseover='changeColorToBlue(this, "left");'
                    onmouseout='changeColorToBlack(this, "left");'
                ></div>
                <div
                    id="experience3ButtonRight"
                    class="experienceButtonRight"
                    onclick="slideToRight(2)"
                    onmouseover='changeColorToBlue(this, "right");'
                    onmouseout='changeColorToBlack(this, "right");'
                ></div>
            </div>
            <div id="experienceSliderContainer">
                <div
                    id="experienceImageContainer3"
                    class="experienceImageContainer"
                >
                    <img src="/images/ua1.png" class="experienceImages" />
                    <img src="/images/ua2.png" class="experienceImages" />
                    <img src="/images/ua3.png" class="experienceImages" />
                </div>
            </div>
        </div>
        <div class="experienceImageLocation">
            <span
                id="experienceLocationUA1"
                class="dot"
                onclick="moveSlider(2,0)"
            ></span>
            <span
                id="experienceLocationUA2"
                class="dot"
                onclick="moveSlider(2,1)"
            ></span>
            <span
                id="experienceLocationUA3"
                class="dot"
                onclick="moveSlider(2,2)"
            ></span>
        </div>
        <div class="experienceTech">
            Used Technologies: NodeJS, Express, MYSQL, Apache
        </div>

        <!--Unitech Auto-->
        <div class="experienceListName">Unitech Auto</div>
        <div class="experienceListDescription">
            Built a website for Unitech Auto which is the largest supply trading
            company of auto spare parts in Korea.
        </div>
        <div class="sliderContainer">
            <div class="buttonContainer">
                <div
                    id="experience1ButtonLeft"
                    class="experienceButtonLeft"
                    onclick="slideToLeft(3)"
                    onmouseover='changeColorToBlue(this, "left");'
                    onmouseout='changeColorToBlack(this, "left");'
                ></div>
                <div
                    id="experience1ButtonRight"
                    class="experienceButtonRight"
                    onclick="slideToRight(3)"
                    onmouseover='changeColorToBlue(this, "right");'
                    onmouseout='changeColorToBlack(this, "right");'
                ></div>
            </div>
            <div id="experienceSliderContainer">
                <div
                    id="experienceImageContainer4"
                    class="experienceImageContainer"
                >
                    <img src="/images/UAweb1.png" class="experienceImages" />
                    <img src="/images/UAweb2.png" class="experienceImages" />
                    <img src="/images/UAweb3.png" class="experienceImages" />
                    <img src="/images/UAweb4.png" class="experienceImages" />
                </div>
            </div>
        </div>
        <div class="experienceImageLocation">
            <span
                id="experienceLocationUAWeb1"
                class="dot"
                onclick="moveSlider(3,0)"
            ></span>
            <span
                id="experienceLocationUAWeb2"
                class="dot"
                onclick="moveSlider(3,1)"
            ></span>
            <span
                id="experienceLocationUAWeb3"
                class="dot"
                onclick="moveSlider(3,2)"
            ></span>
            <span
                id="experienceLocationUAWeb4"
                class="dot"
                onclick="moveSlider(3,3)"
            ></span>
        </div>
        <div class="experienceTech">
            Used Technologies: React, NodeJS, Express
        </div>
    </div>
</div>
