<div id='skillsSection'>
    <div id='skillsHeader'>SKILLS</div>
    <div class='skillsContainer'>
        <div id='skillsClient'>
            <div class='skillsListHead'>Client-Side</div>
            <div>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Javascript</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
                <li>ReactJS</li>
            </div>
            <div>
                <img src='/images/client.png' class='skillListImage' />
            </div>
        </div>
        <div id='skillsServer'>
            <div class='skillsListHead'>Server-Side</div>
            <div>
                <li>NodeJS / Express</li>
                <li>.NET</li>
                <li>Classic ASP</li>
                <li>MSSQL</li>
                <li>MYSQL</li>
                <li>Redux</li>
                <li>Apache</li>
            </div>
            <div>
                <img src='/images/server.png' class='skillListImage' />
            </div>
        </div>
    </div>
    <div class='skillsContainer'>
        <div id='skillsTool'>
            <div>
                <div class='skillsListHead'>Tools</div>
                <div>
                    <li>AWS</li>
                    <li>Git / Github</li>
                    <li>Linux</li>
                </div>
            </div>
            <div>
                <img src='/images/tool.png' class='skillListImage' />
            </div>
        </div>
        <div id='skillsMobile'>
            <div>
                <div class='skillsListHead'>Mobile</div>
                <div>
                    <li>React Native</li>
                    <li>Swift</li>
                </div>
            </div>
            <div>
                <img src='/images/mobile.png' class='skillListImage' />
            </div>
        </div>
    </div>
    <div id='skillsAbsolutePosition'>
        <div>
            <div id='skillsListHeadSecurity' class='skillsListHead'>Security</div>
            <div id='skillsListHeadSecurityDescription'>(penetration testing)</div>
            <div>
                <li>Kali Linux</li>
                <li>Bettercap</li>
                <li>Nmap / Zenmap</li>
                <li>Wireshark</li>
                <li>Veil</li>
                <li>Metasploit</li>
            </div>
            <div>
                <img src='/images/security.png' class='skillListImage' />
            </div>
        </div>
    </div>
</div>