#experienceSection {
    height: 700px;
}

#experienceHeader {
    margin-top: 15px;
    font-size: 25px;
}

#experienceSliderContainer {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    overflow:hidden;
    text-align: center;
    position:relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}
.buttonContainer{
    position: absolute;
    top:50%;
    z-index: 1;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:800px;
}
.sliderContainer{
    position: relative;
    display:flex;
    justify-content: center;
}

.experienceImageContainer {
    width: 2100px;
    height: 500px;
    left:0px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}
.experienceImages{
    float:left;
    margin:0px;
    padding:0px;
    width: 696px;
    height:496px;
    border:2px solid black;
    padding: -2px;
}
.experienceButtonLeft {
    position: relative;
    width:50px;
    height:50px;
    border-top:7px solid black;
    border-left:7px solid black;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    right:0px;
    transition: right 0.5s;
    -webkit-transition: right 0.5s;
    -moz-transition: right 0.5s;
    -o-transition: right 0.5s;
}
.experienceButtonRight{
    position: relative;
    width:50px;
    height:50px;
    border-top:7px solid black;
    border-right:7px solid black;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    left:0px;
    transition: left 0.5s;
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -o-transition: left 0.5s;
}
.experienceImageLocation{
    
}