<div id='footerLayout'>
    <%
        let d = new Date();
        let n = d.getFullYear();
    %>
    <div>
        Designed and Implemented by Yoon Jung
    </div>
    <div>Copyright ©Yoon Jung <%=n%> All Rights Reserved.</div> 
</div>