<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SB8PTCTCDH"></script>
  <script src="/jquery/jquery.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-SB8PTCTCDH');
  </script>
  <title><%= title%></title>
  <link rel='icon' href='/images/favicon.ico'>
  <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/loading.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/about.css' />
  <link rel='stylesheet' href='/stylesheets/experience.css' />
  <link rel='stylesheet' href='/stylesheets/skills.css' />
  <link rel='stylesheet' href='/stylesheets/contact.css' />
  <link rel='stylesheet' href='/stylesheets/under900px.css' />
  <link rel='stylesheet' href='/stylesheets/under750px.css' />
  <link rel='stylesheet' href='/stylesheets/under630px.css' />
</head>