<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SB8PTCTCDH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-SB8PTCTCDH');
  </script>
  <title>Yoon Jung</title>
  <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type='text/javascript' src="/javascripts/navigation.js"></script>
  <script type='text/javascript' src="/javascripts/onLoad.js"></script>
  <script type='text/javascript' src="/javascripts/onScroll.js"></script>
</head>