<div id='leftLayout'>
    <div id='logo' onclick="onClick('about'); onClickLogo();">Y</div>
    <div id='socialMedia'>
        <a href='https://www.facebook.com/YooooooNslee/'><img src='/images/facebook.png' onmouseover="this.src='/images/facebook(1).png';" onmouseout="this.src='/images/facebook.png';" width='30px' height='30px'></a>
        <a href='https://www.instagram.com/yoooo___oooon'><img src='/images/instagram.png' onmouseover="this.src='/images/instagram(1).png';" onmouseout="this.src='/images/instagram.png';" width='30px' height='30px'></a>
        <a href='https://github.com/dldbstjd123'><img src='/images/github.png' onmouseover="this.src='/images/github(1).png';" onmouseout="this.src='/images/github.png';" width='30px' height='30px'></a>
        <div><img src='/images/mail.png' onmouseover="this.src='/images/mail(1).png';" onmouseout="this.src='/images/mail.png';" width='30px' height='30px'></div>
    </div>
</div>