<div id='topLayout'>
    <nav id='navigation'>
        <div id='about' onmouseover="onMouseOver('about')" onmouseout="onMouseOut('about')" onclick="onClick('about')">
            <div>ABOUT</div>
        </div>
        <div id='experience' onmouseover="onMouseOver('experience')" onmouseout="onMouseOut('experience')" onclick="onClick('experience')">
            <div>EXPERIENCE</div>
        </div>
        <div id='skills' onmouseover="onMouseOver('skills')" onmouseout="onMouseOut('skills')" onclick="onClick('skills')">
            <div>SKILLS</div>
        </div>
        <div id='contact' onmouseover="onMouseOver('contact')" onmouseout="onMouseOut('contact')" onclick="onClick('contact')">
            <div>CONTACT</div>
        </div>
    </nav>
</div>
<div id='topBar'> 
    <nav id='bar'>
        <div id='movingBar'></div>
    </nav>
</div>