#experienceSection {
    min-height: 100vh;
}

#experienceHeader {
    font-size: 55px;
    color: #2a26ff;
}

.experienceListName{
    text-align: center;
    margin-top: 15px;
    font-size: 45px;
    text-decoration: underline;
}
.experienceListDescription{
    text-align: center;
    margin: 20px auto;
    width: 100%;
    font-size:20px;
}

#experienceSliderContainer {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    overflow:hidden;
    text-align: center;
    position:relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}
.buttonContainer{
    display:none;
}
.sliderContainer{
    position: relative;
    display:flex;
    justify-content: center;
    margin:15px 0;
}

.experienceImageContainer {
    width: 300%;
    height: 500px;
    left:0px;
    display:flex;
    flex-direction: row;
    position: relative;
    transition: left 1s;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
}
.experienceImages{
    float:left;
    margin:0px;
    padding:0px;
    width: 33.33%;
    height:496px;
}
.experienceButtonLeft {
    position: relative;
    width:50px;
    height:50px;
    border-top:7px solid black;
    border-left:7px solid black;
    transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    right:0px;
    transition: right 0.5s;
    -webkit-transition: right 0.5s;
    -moz-transition: right 0.5s;
    -o-transition: right 0.5s;
}
.experienceButtonRight{
    position: relative;
    width:50px;
    height:50px;
    border-top:7px solid black;
    border-right:7px solid black;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    left:0px;
    transition: left 0.5s;
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -o-transition: left 0.5s;
}

.experienceImageLocation{
    display:flex;
    justify-content: center;
}
.experienceImageLocation span{
    height: 50px;
    width: 50px;
    margin:0 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
#experienceLocationMysuit1{
    background-color: #2a26ff;
}
#experienceLocationUA1{
    background-color: #2a26ff;
}
#mobileStores{
    margin:0 auto;
    max-width: 700px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#experienceImageContainer2{
    display:flex;
    flex-direction: column;
    margin:0px;
    padding:0px;
    width: 100%;
    height:496px;
}
.experienceImagesUre{
    display:flex;
    justify-content: space-evenly;
    margin:0px;
    padding:0px;
    width: 100%;
    height:248px;
    padding: -2px;
}
.experienceIndividualImagesUre{
    width:23%;
    max-width: 180px;
    height: 100%;
}
#experienceListNameDescription{
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}
.experienceTech{
    margin-top:20px;
    padding-bottom:70px;
    text-align: center;
}